{% extends 'base.html' %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/contact.jpg" class="d-block w-100" style=" height: 400px;" alt="...">
      </div>
    </div>
  </div>

  <div class="text-center" style="margin-top: 12px;"><h3>  Contact Us </h3></div>

  <div class="container">
      <form method="post" action="contact">
          {% csrf_token %}
  <div class=" form-control mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name here">
  </div>
  <div class=" form-control mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>
  <div class="form-control mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Tell me about what you want to contact me for?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
  </div>
  <button class="btn btn bg-info" type="submit">Submit</button>
</form>
</div>
<div style="height: 20px;"></div>
{% endblock body %}