

{% extends 'dest4.html' %}\

{% block body %}




{% block place %}Mumbai{% endblock place %}
{% block place1 %}Mumbai{% endblock place1 %}
{% block img1 %} <img
              src="/static/img/mumbai/i.jpeg"
              alt=""
              style="
                position: absolute;
                height: 300px;
                left: 900px;
                width: 450px;
                bottom: 350px;
                border: solid cyan;
              "
            />{% endblock img1 %}
{% block discr %}Mumbai (formerly called Bombay) is a densely populated city on India’s west coast. A financial center, it's India's largest city. On the Mumbai Harbour waterfront stands the iconic Gateway of India stone arch, built by the British Raj in 1924.{% endblock discr %}



<!-- Place1 -->

{% block placename %}1. Gateway of India{% endblock placename %}


{% block img2 %}<img src="/static/img/mumbai/gt.webp" style="height: 450px;  border: solid cyan;" alt="">{% endblock img2 %}

{% block p1 %}<p>
 
At a distance of 4 km from Mumbai Chhatrapati Shivaji Terminus, Gateway of India is a national heritage monument located at the waterfront in Apollo Bunder area in South Mumbai, facing Arabian Sea. It is considered to be the most famous monument in Mumbai and also one of the main tourist places visited as part of Mumbai Darshan.
rchitecture of Mumbai's Gateway of India.

  
  
              </p>{% endblock p1 %}

{% block hp1 %}<p>
The Gateway of India was erected to commemorate the landing of King George V and Queen Mary at Apollo Bunder, when they visited India in 1911. Built in Indo-Saracenic style, the foundation stone for the Gateway of India was laid on 31st March 1911. The final design of George Wittet was sanctioned in 1914 and the construction of the monument was completed in 1924. The Gateway was later the ceremonial entrance to India for Viceroys and the new Governors of Bombay. </p>
<p>
The architecture of the Gateway is a combination of Hindu and Muslim architectural styles; the arch is of Muslim style while the decorations are of Hindu style. The gateway is built from yellow basalt and reinforced concrete. The central dome in the gateway has a diameter of 15 m and the arch way is 26 m high. To the front of the gateway is a statue of Chhatrapati Shivaji Maharaj.</p>
<p>
There are five boat jetties near the gateway. The first jetty is exclusive to the Atomic Research Centre, the second and third are used for commercial ferry operations, the fourth is closed and the fifth is exclusive to the Royal Bombay Yacht Club. The second and third jetties are the starting point for tours of Elephanta Caves, which is a 50-minute boat ride from the gateway.
 
             </p>{% endblock hp1 %}



{% block time %}24 hours open{% endblock time %}
{% block dur %}1-2 hours{% endblock dur %}
{% block transport %}Cab/Bus/Auto/Local Train{% endblock transport %}
{% block entry %}Free{% endblock entry %}
{% block distance %} 4 Kms{% endblock distance %}



<!-- Place2 -->


{% block placename1 %}2. Marine Drive{% endblock placename1 %}


{% block img3 %}<img src="/static/img/mumbai/mr.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img3 %}

{% block p2 %}<p>
               At a distance of 5 km from Mumbai Chhatrapati Shivaji Terminus, Marine Drive is a 3 km long beautiful road in southern Mumbai of Maharashtra. This is one of the most visited places in Mumbai city and also one of the top tourist places in Mumbai.
<p>

The nearest local station to the Marine Drive is the Churchgate Station. Tourists can either walk to the road from the station or take up taxis, auto rickshaws, buses or even a tanga.</p>



              </p>{% endblock p2 %}

{% block hp2 %}<p>
             
It is a C-shaped six-lane road along the coastline of Arabian Sea, forming a natural bay. This road links Nariman Point to Babulnath, and is situated at the foot of Malabar Hill. Officially, it is named as Netaji Subhash Chandra Bose Road. Marine Drive is also referred to as 'Queen's necklace', because the street lights make the road look like a string of pearls and create an illusion of a necklace, when viewed at night from any elevated point along the pathway of the drive.

</p>
             <p>
    
The real estate value of the Marine Drive is one of the highest in India and ranks fourth when compared to the world statistics. Numerous celebrities have their houses built here and this area has become one of the premier residential communities. Walkeshwar, the resident of the governor of Maharashtra is also located on Marine Drive. The 5 star hotel Oberoi and many other noted restaurants lined along this walkway.


             </p>{% endblock hp2 %}



{% block time1 %}24 hours open{% endblock time1 %}
{% block dur1 %}1 Hour{% endblock dur1 %}
{% block transport1 %}Bus/ Cab/Local train/Auto{% endblock transport1%}
{% block entry1 %}Free{% endblock entry1 %}
{% block distance1 %}5 Kms{% endblock distance1 %}









{% endblock body %}