

{% extends 'dest2.html' %}\

{% block body %}




{% block place %}Raigad{% endblock place %}
{% block place1 %}Raigad{% endblock place1 %}
{% block img1 %} <img
              src="/static/img/Dapoli/suvarndurg.jpg"
              alt=""
              style="
                position: absolute;
                height: 300px;
                left: 900px;
                width: 450px;
                bottom: 350px;
                border: solid cyan;
              "
            />{% endblock img1 %}
{% block discr %}Raigad District, previously known as Colaba District, is an district in the Konkan division of Maharashtra, India. The district was renamed to Raigad after the fort that was the first capital of the former Maratha Empire, which in turn was renamed from its earlier name - Rairi.{% endblock discr %}



<!-- Place1 -->

{% block placename %}1. Raigad Fort{% endblock placename %}


{% block img2 %}<img src="/static/img/raigad12.jpg" style="height: 450px;  border: solid cyan;" alt="">{% endblock img2 %}

{% block p1 %}<p>
  At a distance of 26 km from Mahad, 83 km from Mahabaleshwar, 105 km from Alibaug, 118 km from Lonavala, 136 km from Mumbai, 138 km from Pune and 196 km from Ratnagiri, Raigad is a hill fort situated at Pachad near Mahad in Raigad district of Maharashtra. This is one of the most popular forts in Maharashtra and popular places for trekking near Mumbai. This fort is one of the prime places to visit on a Maharashtra tour and also one of the must include historical forts in Mahabaleshwar Tour Packages as well as in Lonavala Tour Packages.</p>

  <p>Perched at an altitude of 2700 feet above sea level, Raigad Fort falls under the Sahyadri Mountain range of India. The fort is constructed on an irregular wedge-shaped mass of rock and is inaccessible from three sides. The main structures inside the Raigad Fort, which today stands mostly in ruins, comprise of Queen's Quarters, Public Durbar, Watch Towers, Darwajas, etc. The Queen's Quarters consist of six chambers, meant for the queen and her attendants. The main palace situated inside the fort was largely constructed out of wood. However, apart from its base, made up of pillars, hardly anything else remains right now.
  </p>
  <p>Ruins of three watch towers can be seen in front of the palace grounds overlooking an artificial lake called Ganga Sagar Lake created next to the fort. Now only two watchtowers are visible. Third watchtower collapsed in bombarding. It also has a view of the execution point called Takmak Tok, a cliff from where the sentenced prisoners were thrown to their death. The area is now fenced off. The fort also has ruins of the market.</p>
  
  
  
  
              </p>{% endblock p1 %}

{% block hp1 %}<p>
                
  Earlier called as Rairi, Raigad was initially under the control of Chandrarao More of Jawali and was captured by Chhatrapati Shivaji Maharaj's in 1656 CE. After taking over the Rairi Fort, Shivaji Maharaj got it completely renovated and renamed it as Raigad (the King's Fort). Shivaji Maharaj made it his capital in 1674 CE when he was crowned as King. The fort was destroyed by the British in 1818 CE after they conquered it.</p>
             <p>
                 
  There are approximately 1400-1450 steps leading to the fort, though today a rope-way exists to reach the top of the fort. Raigad fort is the only fort in Maharashtra which has a ropeway access. Trekking is still a popular activity to reach the fort. Raigad trek is a difficult trek and the approximate duration of the trek is about 1.5 - 2 hours. The base village for the Raigad trek up is Pachad. Raigad night trek is particularly popular especially during the summers. 
             </p>{% endblock hp1 %}



{% block time %}8.00 AM - 6.00 PM{% endblock time %}
{% block dur %}Full Day{% endblock dur %}
{% block transport %}Cab / Bus{% endblock transport %}
{% block entry %}Rs. 10 for Indians & Rs. 100 for Foreigners{% endblock entry %}
{% block distance %}26 Kms{% endblock distance %}



<!-- Place2 -->


{% block placename1 %}2. Murud-Janjira Fort{% endblock placename1 %}


{% block img3 %}<img  src="/static/img/janjira2.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img3 %}

{% block p2 %}<p>
               At a distance of 5 km from Murud, 21 km from Diveagar, 53 km from Alibaug, 84 km from Raigad Fort, 170 km from Mumbai, and 162 km from Pune, Murud - Janjira is an island fort situated near Murud in the Raigad district of Maharashtra. This is one of the top places to visit in Alibaug, and also one of the popular heritage places to visit near Pune and Mumbai.

Janjira Fort is surrounded by the Arabian Sea on all sides and is one of the strongest marine forts of India. It is one of the popular places of heritage in Maharashtra, and among the must include places in Alibaug tour packages. The name Janjira is derived from the Arabic word Jazeera which means island. The original structure was built in the 15th century by a Koli chief as a defense against pirates and thieves. Originally a small wooden structure, Janjira Fort was later captivated by Siddi Sirul Khan an Abyssinian Siddi of Ahmednagar kings in the 17th century. During its construction, the fort structure collapsed thrice. Siddi realized that a sacrifice is needed, so he offered his 22 years old son to God. It is one of the



              </p>{% endblock p2 %}

{% block hp2 %}<p>
              The fort was attacked many times by the Portuguese, British, and the Marathas but it was successful in resisting attempts to capture. Shivaji's all attempts to capture Janjira Fort failed. When Sambhaji also failed, he built another island fort, known as Kansa or Padmadurg, just 9 km north of Janjira. It can also be visited along with Lonavala packages.</p>
             <p>
               The fort can be reached only by boat from Rajapuri jetty, which is about 2 km from Janjira Fort.

             </p>{% endblock hp2 %}



{% block time1 %}7 AM - 12 PM & 2 PM - 4.45 PM.{% endblock time1 %}
{% block dur1 %}4-6 Hours{% endblock dur1 %}
{% block transport1 %}Bus/ Cab{% endblock transport1%}
{% block entry1 %}Free, Rs. 100 per Person for Boat{% endblock entry1 %}
{% block distance1 %}53 Kms{% endblock distance1 %}









{% endblock body %}