

{% extends 'destinations.html' %}\

{% block body %}




{% block place %}Ratnagiri{% endblock place %}
{% block place1 %}Ratnagiri{% endblock place1 %}
{% block img1 %} <img
              src="/static/img/Ratnagiri/mandavi.jpg"
              alt=""
              style="
                position: absolute;
                height: 300px;
                left: 900px;
                bottom: 350px;
                border: solid cyan;
              "
            />{% endblock img1 %}
{% block discr %}Ratnagiri has a diverse range of tourist attractions in the form of monuments, temples, and beaches. The beaches of this region are the most popular ones and some of the famous sand trails are Pawas Beach, Ganeshghule Beach, Ganpatipule Beach, etc{% endblock discr %}



<!-- Place1 -->

{% block placename %}1. Jaigad Fort{% endblock placename %}


{% block img2 %}<img src="/static/img/Ratnagiri/jaigad.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img2 %}

{% block p1 %}<p>
                Jaigad Fort, also known as the Fort of Victory, is a 16th-century fort that extends over an area of 13 acres in the coastal region of Ratnagiri, Maharashtra. Located near Jaigad Village and approximately 20 kms to the north-west of Ganpatipule, the remains of the fort stand steady on a cliff overlooking the Jaigad creek where River Shastri enters the vast and mesmerising Arabian Sea. Jaigad Fort is an engineering marvel for the purpose it was built. A glance at the magnificent structure before you enter will surely amaze you. A visit to the Jaigad lighthouse which was built in close vicinity to the Jaigad fort is a must.
              </p>{% endblock p1 %}

{% block hp1 %}<p>
                The Jaigad fort was built by the Bijapur Sultanate who was incapable of retaining their power in the region and lost the fort to the Naiks belonging to Sangameshwar. The Naiks, at that time, controlled over 600 troops and owned about 8 villages. While the glorious fort was under their command, they were attacked by the Portuguese and also the Bijapur Sultanate, but the Naiks fought fiercely and were successful in protecting it. Subsequently, the region became a part of the Shivaji dominion and was managed by Balaji Vishwanath Peshwa who surrendered it to Kanhoji Angre in 1713. In 1818 however, the Jaigad fort was captured by the British during the third Anglo Maratha War. </p>
             <p>
                Some believe that many attempts were made to build the majestic fort but in vain. It was only after a human sacrifice that it was entirely constructed. The young boy, Jaiba Malhar, who sacrificed his life willingly, is believed to be resting in one of the ramparts of the fort. The name "Jaigad" was thus derived from the young boy's name. 
             </p>{% endblock hp1 %}



{% block time %}8.00 AM - 7.00 PM{% endblock time %}
{% block dur %}2-3 Hours{% endblock dur %}
{% block transport %}Cab / Bike{% endblock transport %}
{% block entry %}No Entry Fee{% endblock entry %}
{% block distance %}42.7 Kms{% endblock distance %}



<!-- Place2 -->


{% block placename1 %}2. Swayambhu Ganapati Temple{% endblock placename1 %}


{% block img3 %}<img src="/static/img/Ratnagiri/ganpati.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img3 %}

{% block p2 %}<p>
                At a distance of 24 km from Ratnagiri, 152 km from Kolhapur, 193 km from Mahabaleshwar, 207 km from Satara, 291 km from Lonavala, 307 km from Pune, and 345 km from Mumbai, Ganpatipule is a small pilgrimage & beach town located in the Ratnagiri district on the Konkan coast of Maharashtra in India. This is one of the top places to visit in Maharashtra and also one of the best places to visit near Pune. 
              </p>{% endblock p2 %}

{% block hp2 %}<p>
               Situated on Ganpatipule beach is a famous temple called Swayambhu Ganesh Temple, which is about 400 years old. According to folklore, an angry Ganpati left home on some pretext to reach a place called Pule, which is how the place gets its name. However, ‘Pule’ also stands for white sand in Marathi which covers the beach. The Ganpati idol is said to have emerged from the earth and therefore called Swayambhu. This ancient temple lay protected by rulers of the Konkan region, including Chhatrapati Shivaji Maharaj. </p>
             <p>
                Those looking for a holiday full of adrenaline-pumping activities will not be disappointed at Ganpatipule. You can indulge in a host of activities at the beach including pedal boats, motorboats, kayaking, banana rides, paragliding, jet skiing, snorkelling, scuba diving and more. On the other hand, if water sports are not your thing, you can always lay back with a book or some music and sip on some coconut water.
             </p>{% endblock hp2 %}



{% block time1 %}5.00 AM - 9.00 PM{% endblock time1 %}
{% block dur1 %}1 - 2 days{% endblock dur1 %}
{% block transport1 %}Train / Bike{% endblock transport1%}
{% block entry1 %}No Entry Fee{% endblock entry1 %}
{% block distance1 %}23 Kms{% endblock distance1 %}




<!-- Place3 -->

{% block placename2 %}3. Thiba Palace / Thibaw Palace{% endblock placename2 %}


{% block img4 %}<img src="/static/img/Ratnagiri/mandavi.jpg" style="height: 450px;  border: solid cyan; " alt="">{% endblock img4 %}

{% block p3 %}<p>
                At a distance of 2 km from Ratnagiri Bus Stand, Thibaw Palace is a historical building situated on a small hillock in Ratnagiri Town of Maharashtra. This is one of the major tourist attractions of Ratnagiri.



The palace is a beautifully constructed three storied structure with sloping roofs. Semi-circular wooden windows with beautiful carvings are the main attraction of this structure. There is a dancing hall with marble floor on the first floor. One Buddha idol is installed at the back side of the palace. This idol was brought to India by king Thibaw. Presently the palace is maintained by ASI and it is currently under renovation. There is also a museum in the palace which displays the various artifacts used by the king during his exile.


              </p>{% endblock p3 %}

{% block hp3 %}<p>
               Thiba Palace is an architectural grandeur that was created for King Thibaw of Myanmar (Burma) who was in exile here. It is said that the Palace was built by the British in 1910 to keep the king of Burma under house arrest. The palace came into use from 1910 up to the king's death on 16th December 1916. </p>
             <p>
                Those looking for a holiday full ofThiba point, a popular view point, is situated near the Thibaw Palace. One can have a mesmerizing view of Someshwar creek, Bhatye Bridge and Arabian Sea from this point. This place is also famous for the beautiful Sunset.
             </p>{% endblock hp3 %}



{% block time2 %}9.00 AM - 6.00 PM{% endblock time2 %}
{% block dur2 %}1-2 Hours{% endblock dur2 %}
{% block transport2 %}Cab / Bike{% endblock transport2%}
{% block entry2 %}Rs 3/-{% endblock entry2 %}
{% block distance2 %}2 Kms{% endblock distance2 %}

<!-- Place4 -->

{% block placename3 %}4. Aare Ware Beach{% endblock placename3%}


{% block img5 %}<img src="/static/img/Ratnagiri/aareware.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img5 %}

{% block p4 %}<p>
               At a distance of 9 km from Ganpatipule Bus Stand and 14 km from Ratnagiri, Aare Ware Beach is a beautiful secluded beach situated near Nevare village in the Ratnagiri district of Maharashtra. This is one of the best beaches on the Konkan coast and also one of the famous places to visit in Ganpatipule.





              </p>{% endblock p4 %}

{% block hp4 %}<p>
              
Actually, Aare and Ware are two beaches with clean blue water and are a delight to watch. Aare Beach is one of the lesser-known beaches of the Ratnagiri district. This is a very long beach having a length of approximately 3 km and is mostly an untouched beach. A beautiful and dense plantation of Suru dotted the seashore. This quite long beach is an isolated one covered with smooth sand and offers a breathtaking view of the sunset. The beach is still unspoiled and virgin, making it one of the best place for travelers seeking sheer solitude and tranquility as part of Ganpatipule tour packages.</p>
             <p>
               Aare Ware point, a place on the top of a hill presents a panoramic view of the beach below. These beaches are on the road connecting Ganpatipule to Ratnagiri and is called Aare Ware road. Travelling down this road provides ultimate views of the Konkan Sea and landscapes.
             </p>{% endblock hp4 %}



{% block time3 %}6.00 AM - 6.00 PM{% endblock time3 %}
{% block dur3 %}1-2 Hours{% endblock dur3 %}
{% block transport3 %}Cab / Bus{% endblock transport3%}
{% block entry3 %}Free{% endblock entry3 %}
{% block distance3 %}12 Kms{% endblock distance3 %}



{% block mapf %}{% endblock mapf %}






{% endblock body %}