

{% extends 'dest3.html' %}\

{% block body %}




{% block place %}Sindhudurg{% endblock place %}
{% block place1 %}Sindhudurg{% endblock place1 %}
{% block img1 %} <img
              src="/static/img/sindhudurg/s.jpg"
              alt=""
              style="
                position: absolute;
                height: 300px;
                left: 900px;
                width: 450px;
                bottom: 350px;
                border: solid cyan;
              "
            />{% endblock img1 %}
{% block discr %}Sindhudurg is an administrative district in the state of Maharashtra in India, which was carved out of the erstwhile Ratnagiri district. The district headquarters are located at Oros. {% endblock discr %}



<!-- Place1 -->

{% block placename %}1. Sindhudurg Fort{% endblock placename %}


{% block img2 %}<img src="/static/img/sindhudurg/sindhudurg.jpg" style="height: 450px;  border: solid cyan;" alt="">{% endblock img2 %}

{% block p1 %}<p>
 
 
Sindhudurg can be reached in different ways; either by bus, or by train from different, major cities like Goa, Mumbai and Mangalore. You can also take a flight to the nearest airport and then reach Sindhudurg by taxi or buses that regularly ply from Malvan – a large town in Sindhudurg well connected to the Fort.
How to Reach Sindhudurg Fort by Road
  
  
  
              </p>{% endblock p1 %}

{% block hp1 %}<p>Sindhudurg island-fort was built by Shivaji Maharaj, the 17th-century ruler of Maratha Empire.[3] Its main objective was to counter the rising influence of foreign (English,Mugahls, Dutch, French and Portuguese) merchants and to curb the rise of Siddis of Janjira.[4] Construction was supervised by Hiroji Indulkar in 1664. The fort was built on a small island known as the Khurte island. </p>
             <p>
  At a time when traveling by sea was banned by scriptures, this construction on an island represents the revolutionary mindset of its engineer. A remain of an iron mould can be seen. 
             </p>{% endblock hp1 %}



{% block time %}8.00 AM - 6.00 PM{% endblock time %}
{% block dur %}5-6 hours{% endblock dur %}
{% block transport %}Boat{% endblock transport %}
{% block entry %}Rs. 70{% endblock entry %}
{% block distance %}3.1 Kms{% endblock distance %}



<!-- Place2 -->


{% block placename1 %}2. Vijaydurg Fort{% endblock placename1 %}


{% block img3 %}<img src="/static/img/sindhudurg/vijaydurg.jpg" style="height: 450px; border: solid cyan;" alt="">{% endblock img3 %}

{% block p2 %}<p>
               At a distance of 29 km from Devgad, 73 km from Malvan and 100 km from Ratnagiri, Vijaydurg Fort is an ancient fort situated on a hill near the mouth of the Vaghotan River in Sindhudurg district of Maharashtra. It is one of the largest forts on the Konkan coast of Maharashtra and also one of the top places to visit in Ratnagiri. It is a protected monument under ASI.



              </p>{% endblock p2 %}

{% block hp2 %}<p>
             The original fort was built by Bhojraja Shilahar between 1196 and 1206 AD. The Maratha king Shivaji Maharaj took control of this fort from Adil Shahi dynasty in 1656 AD and renamed it as Vijay Durg. Thereafter the fort was the main Maratha naval base under Kanoji Angre. The fort was attacked in 1717, 1720 and 1724 AD by the British, Portuguese and Dutch - but could not be conquered. The fort was under the control of British and Peshwas in 1756 AD and remained with the Peshwas till 1818 AD. In 1818 Vijaydurg was totally fell into the hands of the British Empire.
</p>
             <p>
               
The fort is constructed using laterite stones. The fort consists of 27 bastions out of which three are three-storied. The main entrance of the fort faces the north. Out of the original imposing structure, some of the structures still remain including the storage area for food grains, prison, a huge water tank, and cannon. A 10 m high compound wall, about 300 feet away from the fort deep in the sea, has been discovered recently. It was served as a defense against attacking ships. The fort also has a 200 m long tunnel for emergency evacuation. It is believed that the region around the banks of the Vaghotan River was a dock, used by the Marathas for building and repairing their ships.

             </p>{% endblock hp2 %}



{% block time1 %}9 AM to 6 PM.{% endblock time1 %}
{% block dur1 %}4-6 Hours{% endblock dur1 %}
{% block transport1 %}Bus/ Cab{% endblock transport1%}
{% block entry1 %}Free{% endblock entry1 %}
{% block distance1 %}71 Kms{% endblock distance1 %}









{% endblock body %}